* {
	margin:0;
    padding:0;
}

body {
	background-image: url("../images/pyramid.png");
}

#alertBar {
	background-color: #FF4C4C;
	border-left: 5px solid #B73636;
	border-right: 5px solid #B73636;
	width: auto;
	margin-bottom: 20px;
	overflow: auto;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

#headerMainWrapper {
	width: 100%;
	margin: 0 auto;
}

#headerMain {
	background-color: #E5F2FF;
}

#headerMain img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

#mainWrapper {
	width: 1000px;
	margin: 0 auto;
}

#navWrapper {
	width: 100%;
	margin: 0 auto;
}

#subNavWrapper {
	width: 100%;
	margin: 0 auto;
}

#indexContentWrapper {
	width: auto;
	margin-top: 5%;
	overflow: auto;
	padding: 10px;
}

#profileContentWrapper {
	width: auto;
	margin-top: 20px;
	overflow: auto;
	padding: 10px;
}

ul.navMain {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3299FF;
    text-align: center;
}

ul.navMain li {
	list-style-type: none;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 15px;
}

ul.navMain li a {
	position: relative;
    display: block;
    color: #FFF;
    padding: 10px 15px 10px 15px;
    text-align: center;
    text-decoration: none;
    width: 70px;
}

ul.navMain li a:hover {
	background-color: #0080fe;
}

ul.subNav {
	color: #FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0073e5;
    text-align: center;
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

ul.subNav li {
	list-style-type: none;
	display: inline-block;
	padding: 5px 10px 5px 10px;
}

ul.subNav li a {
	position: relative;
	color: #FFF;
	padding: 5px 10px 5px 10px;
	text-align: center;
	text-decoration: none;
	width: 50px;
}

ul.subNav li a:hover {
	background-color: #0080fe;
}

#loginMainContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: right;
}

#profileDescContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: right;
}

#profilePostsContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: right;
	margin-top: 20px;
}

#profileSideContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: left;
	margin-top: 20px;
}

#loginMainHeader {
	background-color: #3299FF;
	color: #FFFFFF;
	width: 400px;
	padding: 10px;
}

#profileImageHeader {
	background-color: #3299FF;
	color: #FFFFFF;
	width: 200px;
	padding: 10px;
	border-bottom: 3px solid #0080fe;
}

#profileDescHeader {
	background-color: #3299FF;
	color: #FFFFFF;
	width: 715px;
	padding: 10px;
	border-bottom: 3px solid #0080fe;
}

#profileImageContent img {
	display: block;
	margin: -2px auto 0 -2px;
	border: 2px solid #3299FF;
}

#loginMainContent {
	background-color: #FFFFFF;
	width: 400px;
	height: 500px;
	padding: 20px 10px 0 10px;
	margin: 0 auto;
}

#descMainContent {
	background-color: #FFFFFF;
	width: 715px;
	height: 200px;
	padding: 20px 10px 0 10px;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

#postsMainContent {
	background-color: #FFFFFF;
	width: 715px;
	height: 500px;
	padding: 20px 10px 0 10px;
	margin: 0 auto;
}

#profileSideContent {
	background-color: #FFFFFF;
	width: 200px;
	height: 500px;
	padding: 20px 10px 0 10px;
	margin: 0 auto;
}

#mainUpdatesContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: left;
}

#profileImageContentContainer {
	box-shadow: 0 0 10px #BEBEBE;
	float: left;
}

#mainUpdatesHeader {
	background-color: #3299FF;
	color: #FFFFFF;
	width: 500px;
	padding: 10px;
}

#mainUpdatesContent {
	background-color: #FFFFFF;
	width: 500px;
	height: 500px;
	padding: 10px;
	overflow: auto;
}

#profileImageContent {
	background-color: #FFFFFF;
	width: 200px;
	height: 200px;
	padding: 10px;
}

#mainUpdatesPostContainer {
	max-height: 500px;
}

#mainUpdatesPostIcon {
	width: 80px;
	height: 80px;
	padding: 10px;
	float:left;  
	background-color: #3299FF;
	margin: 10px 0 10px 20px;
}

#mainUpdatesPost {
	width:320px;
	height: 80px;
	float:left;
	padding: 10px;
	background-color: #F4F4F4;
	margin: 10px 20px 10px 0;
}

#logoMain img {
	margin-bottom: 5%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#mainUpdatesPostIcon img {
	display: block;
     top: 50%;
    left: 50%;
    margin-top: 15px;
    margin-left: 15px;
}

#loginMainForm {
	margin-top: 70px;
    display: inline-block;
    text-align: center;
}

#containerForgottenPassword {
	padding: 20px;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    border-style: inset;
    font-family: 'Raleway', sans-serif;
}

#containerForgottenPassword a {
	color: #3299FF;
    text-decoration: none;
}

#containerForgottenPassword a:hover {
	color: #000;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
}

input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 10px;
	outline: none;
	border-radius: 3px;
 	-webkit-transition: all 0.7s ease 0s;
 	-moz-transition: all 0.7s ease 0s;
 	-o-transition: all 0.7s ease 0s;
 	transition: all 0.7s ease 0s;
 	text-align: center;
 	width: 250px
}

input[type="text"]:hover {
	border: 1px solid #252525;
}

input[type="submit"] {
	background-color: #3299FF;
	border: none;
	font-size: 16px;
	color: #FFFFFF;
	padding: 15px 70px 15px 70px;
	border-radius: 5px;
	cursor: pointer;
	width: 250px
}

input[type="submit"]:hover {
	background-color: #3f3f3f;
}

input[type="password"] {
	background-color: #FFFFFF;
	border: 1px solid #E2E2E2;
	font-size: 15px;
	padding: 10px;
	width: 250px;
	margin-bottom: 3px;
	margin-top: 3px;
	outline: none;
	border-radius: 3px;
 	-webkit-transition: all 0.7s ease 0s;
 	-moz-transition: all 0.7s ease 0s;
 	-o-transition: all 0.7s ease 0s;
 	transition: all 0.7s ease 0s;
 	text-align: center;
}

input[type="password"]:hover {
	border: 1px solid #252525;
}